<form action="/admin/loginData" method="post">
    <table>
        <tr>
            <td>
                Email : 
            </td>
            <td>
                <input type="email" name="email">
            </td>
        </tr>
        <tr>
            <td>
                Password : 
            </td>
            <td>
                <input type="password" name="password">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit">
            </td>
        </tr>
    </table>
</form>

<a href="/admin/google">Sign in with Google</a>